<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body>
    <div th:replace="fragments/layout :: cabecera"></div>

    <main th:fragment="contenido">
        <div class="container mt-5">
            <h1 class="mb-4">Detalles de Jugador: <span th:text="${jugador.nickname}"></span></h1>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Información Básica</h5>
                    <p><strong>Edad:</strong> <span th:text="${jugador.edad}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${jugador.email}"></span></p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Estadísticas de Fortnite</h5>
                    <ul>
                        <li>Kills: 150</li>
                        <li>Victories: 20</li>
                        <li>Win Rate: 15%</li>
                    </ul>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Estadísticas de Valorant</h5>
                    <ul>
                        <li>Kills: 300</li>
                        <li>Deaths: 200</li>
                        <li>K/D Ratio: 1.5</li>
                    </ul>
                </div>
            </div>

            <a href="/jugadores" class="btn btn-secondary">Volver a la lista</a>
        </div>
    </main>

    <div th:replace="fragments/layout :: pie"></div>
</body>
</html>